Package: vn.tuandb.livewallpapersfreepremium
Name: Live Wallpapers Free Premium
Author: tuandb <contact@tuandb.name.vn>
Description: Enable Premium Version
Depends: mobilesubstrate
Maintainer: tuandb <contact@tuandb.name.vn>
Architecture: iphoneos-arm
Section: HackApps
Version: 1.0
