Package: vn.tuandb.lightxpro
Name: LightX Pro
Author: tuandb <contact@tuandb.name.vn>
Description: Enable Pro Version
Depends: mobilesubstrate
Maintainer: tuandb <contact@tuandb.name.vn>
Architecture: iphoneos-arm
Section: HackApps
Version: 1.0
