Package: vn.tuandb.timecutvip
Name: TimeCut VIP
Author: tuandb <contact@tuandb.name.vn>
Description: Enable VIP Version
Homepage: https://repo.tuandb.name.vn
Depends: mobilesubstrate
Maintainer: tuandb <contact@tuandb.name.vn>
Architecture: iphoneos-arm
Section: HackApps
Version: 1.0
