Package: vn.tuandb.smulevip
Name: Smule VIP
Author: tuandb <contact@tuandb.name.vn>
Description: Enable VIP Version
Depends: mobilesubstrate
Maintainer: tuandb <contact@tuandb.name.vn>
Architecture: iphoneos-arm
Section: HackApps
Version: 1.0
