Package: vn.tuandb.addmusicpremium
Name: Add Music Premium
Author: tuandb <contact@tuandb.name.vn>
Description: Enable Premium Version
Depends: mobilesubstrate
Maintainer: tuandb <contact@tuandb.name.vn>
Architecture: iphoneos-arm
Section: HackApps
Version: 1.0
